@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Overpass);

body {
    background-color: #000;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'EB Garamond', serif;
	  font-size: 18px;
}
h1 {
    font-family: 'Overpass', sans-serif;
}

p {
    font-family: 'EB Garamond', serif;
	  font-size: 18px;
	  line-height: 1.5em;
	  margin: 2em;
}
.a {
    color: white;
}
ul {
    margin: 0 auto;
    width: 300px;
}
#slogan {
    font-style: italic;
}
