@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Overpass);

body {
    background-color: #000;
    text-align: center;
    color: white;
    font-family: 'EB Garamond', serif;
	  font-size: 18px;
    line-height:1.5;
}
h1 {
    font-family: 'Overpass', sans-serif;
    font-size:3em;
    font-weight:400;
}
p {
	  margin-top: 1em;
}
.a {
    color: white;
}
ul {
    margin: 0 auto;
    width: 300px;
}
#slogan {
    font-style: italic;
}
.documentation-logo-image {
    width: 60%;
    margin: 30px;
}
