@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Overpass);

body {
    background-color: #000;
    background-size: cover;
    text-align: center;
    color: white;
}
nav {
    background-color: #1b9dd0;
    font-family: 'Overpass', sans-serif;
    font-size: 1.8em;
}
nav a {
    background-color: #fff;
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    padding: 20px;
    margin: 1.8em;
}
a:hover {
    background-color: #1b9dd0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
h1 {
    font-family: 'Overpass', sans-serif;
}

p {
    font-family: 'EB Garamond', serif;
	  font-size: 18px;
	  line-height: 1.5em;
	  margin: 2em;
}
.a {
    color: white;
}
ul {
    margin: 0 auto;
    width: 300px;
    list-style: none;
}
#slogan {
    font-style: italic;
}
header {
    background-color: #1B9DD0;
    border: 1px black solid;
    padding: 20px;
}
article {
    float: left;
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    width: auto;
}
footer {
    clear: both;
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
.video {
    float: right;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 20%;
    clear: left;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}
