body {
    background: url("https://i.imgur.com/otjff0e.jpg");
    background-size: cover;
    color: white;
    font-family: Helvetica, cursive;
    text-align: center;
}
.a {
  color: white;
}
ul {
    text-align: center;
    list-style-type: none;
}
